{% extends 'base.html' %}

{% block content %}

<h1>Sale/call {{ sale.author }} at {{ sale.date }} | <a href="{% url 'sales:edit' sale.pk %}">Edit</a></h1>
<ul>
    <li>{{ sale.full_name_customer }}</li>
    <li>{{ sale.email_customer }}</li>
    <li>{{ sale.attended }}</li>
    <li>{{ sale.outcome }}</li>
    <li>{% ifnotequal sale.cash_collected 0 %}${% endifnotequal %}{{ sale.cash_collected }}</li>
    <li>{{ sale.call_notes }}</li>
</ul>
<i>Last modified: {{ sale.date_modified }}</i>

{% endblock %}