{% extends 'base.html' %}

{% block content %}

<h1>Sale/call {{ sale }} | <a href="{% url 'sales:edit' sale.pk %}">Edit</a></h1>
<ul>
    <li>Full name: {{ sale.full_name_customer }}</li>
    <li>Email: {{ sale.email_customer }}</li>
    <li>Attened: {{ sale.attended }}</li>
    <li>Outcome: {{ sale.outcome }}</li>
    <li>Cash collected: {% ifnotequal sale.cash_collected 0 %}${% endifnotequal %}{{ sale.cash_collected }}</li>
    <li>Call notes: {{ sale.call_notes }}</li>
</ul>
<i>Last modified: {{ sale.date_modified }}</i>

{% endblock %}